<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="css/stylePost.css">
    <%- include('partials/head.html') %>
</head>
<body id ="body">
    <%- include('partials/navigation.html') %>
    
    
    <div class="bodyPost">
       
        <img class="imagenPost" src="../Resources/noticia2.jpg" alt="titulo">
        <p class="textPost">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sit amet turpis lectus. Vivamus non
            venenatis ante. Vivamus quis maximus elit. Mauris sit amet sapien mattis, placerat metus sit amet,
            tincidunt nisl. Ut eget mi quam. Nulla tempor feugiat interdum. Proin posuere at nunc sed semper.
            Phasellus sed libero ut enim euismod volutpat id et tellus.

            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur
            in blandit quam. Integer nisi ligula, rutrum vel libero sed, ultrices posuere turpis. Donec euismod
            dignissim commodo. Donec tincidunt varius augue sed interdum. Nam odio lectus, fringilla vitae
            pellentesque eu, tempor sed lacus. Morbi ac tellus dolor. Praesent et leo congue, luctus magna a,
            gravida dui. Vestibulum eu risus a sapien bibendum fringilla vitae quis sem. Cras semper dui at lectus
            ultricies, sed vehicula enim accumsan. Ut scelerisque, leo nec varius tincidunt, tellus ante varius
            sapien, vitae varius tortor diam eget tortor. Fusce quis nisi urna. Vestibulum odio nunc, tristique quis
            volutpat a, venenatis eget quam.

            Fusce placerat sit amet ex non lobortis. Ut vitae vestibulum velit. In odio ex, semper nec enim at,
            vehicula sagittis odio. Donec suscipit est id ex semper lobortis. Pellentesque mollis augue in augue
            venenatis, vel maximus arcu mollis. Mauris porttitor dolor at aliquam feugiat. Morbi scelerisque sed
            purus eget consectetur. Curabitur fermentum pretium velit vitae viverra. Vivamus gravida magna purus, id
            ullamcorper ante molestie id. Donec finibus velit turpis, vitae cursus ex ornare ut. Sed nunc elit,
            condimentum eu fermentum in, molestie ac ex. Nullam eu auctor purus, at malesuada tellus. Aenean nec
            tincidunt mi. Nunc accumsan odio a blandit pharetra.

            Quisque a facilisis arcu. Aenean consectetur id tellus ut ullamcorper. Vivamus ut nibh eu enim bibendum
            maximus. Proin laoreet et lorem ac pharetra. Phasellus non pretium arcu. Aliquam rhoncus, mauris vel
            ultricies lacinia, ex sem sollicitudin ipsum, sit amet egestas sem purus at ligula. Donec id erat eget
            erat lacinia efficitur. Donec imperdiet quis velit at suscipit. Donec id sapien eget ante pharetra
            mollis nec a purus. Aenean porttitor suscipit elementum.

            Suspendisse facilisis hendrerit augue vitae efficitur. Nulla urna ex, ullamcorper quis ligula eu,
            bibendum suscipit lacus. Nulla commodo, dolor at placerat venenatis, massa orci vulputate ex, eu viverra
            tellus risus eget est. Etiam id fermentum lorem. Vivamus accumsan metus euismod, hendrerit arcu
            vulputate, ullamcorper purus. Nam a eros urna. Nulla in felis id dui ullamcorper eleifend at vitae
            justo. Nullam mattis risus ipsum, vel commodo nibh volutpat nec. Nam a ultrices diam. Suspendisse a
            sollicitudin sapien. Maecenas lobortis suscipit nibh vitae gravida. Nullam sit amet dolor sit amet
            mauris condimentum porta ac non sem. Quisque eleifend lacus non nisl ullamcorper, quis commodo risus
            malesuada. Nulla viverra commodo felis vel accumsan. Ut pulvinar, risus at imperdiet tempor, elit lectus
            auctor diam, et molestie elit diam a orci. Maecenas placerat nisl sit amet mollis mollis.</p>

    </div>
    
</body>
<script src="js/tienda.js"></script>
<script src="js/fondo.js"></script>
</html>

