<!--<link rel="stylesheet" href="css/navbar.css">-->
<link rel="stylesheet" href="css/style.css">
<!-- Fondos moviles -->
<link rel="stylesheet" href="css/fondos.css"> 
<!-- -->
<link rel="stylesheet" href="css/fondoparalax.css">
<link rel="stylesheet" href="css/tienda.css">
<link rel="stylesheet" href="css/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="css/navbarventa.css"> <!-- Gem style -->
<!--<script src="js/modernizr.js"></script>  Modernizr -->




<style>
    @import url('https://fonts.googleapis.com/css?family=Raleway+Dots&display=swap');
</style>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>