


<div class="baner">
    <p class="titulo">Milenialist</p>
</div>  
<div class="header">   
	<header>
		<div id="logo"><a href="/home" id="logo" class="logo">Mileniallis</a></div>
		<div id="cd-hamburger-menu"><a class="cd-img-replace" href="#0">Menu</a></div>
		<div id="cd-cart-trigger"><a class="cd-img-replace" href="#0">cart</a></div>
	</header>
	<nav id="main-nav">
		<ul>			
			<li><a href="/post">Blog</a></li>
			<li><a class="" href="/tienda">Tienda</a></li>
			<li><a href="/nosotros">Contactanos</a></li>
			<li><a href="#0">Tecnologia</a></li>
		</ul>
	</nav>

	<div id="cd-shadow-layer"></div>
 
	<div id="cd-cart">
		<h2>Cart</h2>
		<ul class="cd-cart-items">
			<li>
                <div id="carrito">    
                    <table id="lista-carrito" class="u-full-width">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>    
                </div>
                
			</li>

            <a href="#" id="vaciar-carrito" class="button u-full-width">Vaciar Carrito</a>	
		</ul> <!-- cd-cart-items -->

		<div class="cd-cart-total">
			<p>Total <span>$39.96</span></p>
		</div> <!-- cd-cart-total -->

		<a href="#0" class="checkout-btn">Checkout</a>
		
		<p class="cd-go-to-cart"><a href="#0">Go to cart page</a></p>
    </div> <!-- cd-cart -->
    


<script src="js/navbarventa.js"></script> <!-- Gem jQuery -->
</div>
<div id='stars'></div>
<div id='stars2'></div>



         